<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
<servlet>
    <servlet-name>MokuMokuEvents</servlet-name>
    <servlet-class>com.ru.waka.servlets.MokumokuEvents</servlet-class>
</servlet>
<servlet>
    <servlet-name>LineApiV1</servlet-name>
    <servlet-class>com.ru.waka.servlets.LineApiV1</servlet-class>
</servlet>
<servlet>
    <servlet-name>Kusokora</servlet-name>
    <servlet-class>com.ru.waka.servlets.Kusokora</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>MokuMokuEvents</servlet-name>
    <url-pattern>/mokumoku/events</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>LineApiV1</servlet-name>
    <url-pattern>/api/line/v1/message</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>Kusokora</servlet-name>
    <url-pattern>/api/v1/kusokora</url-pattern>
</servlet-mapping>
</web-app>
